html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: red;
  font-size: 5em;
  font-family: cursive;
}

body {
  background-color: black;
  background-size: cover;
}

h2 {
  color: white;
  font-size: 2.2em;
  font-family: monospace;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 30px;
}

#tip {
  margin-top: 75px;
  font-size: 2.1em;
}

.nav {
  background-color: black;
  border: 2px solid white;
  color: white;
  font-size: 2.2em;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 30px;
  cursor: pointer;
}

.nav:hover {
  background-color: grey;
}

#outer {
  width: 100%;
  text-align: center;
}

form {
  display: inline-block;
}

.generator {
  background-color: #f44336;
  color: white;
  padding: 15px 32px;
  font-size: 2.5em;
  font-family: monospace;
  cursor: pointer;
}

.generator:hover {
  background-color: lightcoral;
}