<!DOCTYPE html>
<html>
<head>
	<title>Ghost Story Generator</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
	<h1>Victorian Ghost Story Generator</h1>
	<div id="outer">
		<form action="/about">
			<p class="inner"></p>><button class="nav" id="about" type="about">About this project</button></p>
		</form>
		<form action="/examples">
			<p class="inner"><button class="nav" id="examples" type="examples">Example Stories</button></p>
		</form>	
	</div>
	<form action="/generate">
		<p><button class="generator" type="generate">Generate a gHoOoOoOsT story!</button></p>
	</form>
	<h2 id="tip">This may take a few moments - the computer has to think of a story!</h2>
</body>
</html>