<!DOCTYPE html>
<html>
<head>
	<title>Ghost Story Generator</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
	<h1>Victorian Ghost Story Generator</h1>
	<form action="/about">
		<p><button class="about" type="about">About this project</button></p>
	</form>
	<form action="/generate">
		<p><button class="generator" type="generate">Generate a gHoOoOoOsT story!</button></p>
	</form>
	<h2 id="tip">This may take a few moments - the computer has to think of a story!</h2>
</body>
</html>