<!DOCTYPE html>
<html>
<head>
	<title>Ghost Story Generator</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
	<h1>Your Terrifing Story</h1>
	<div id="outer">
		<form action="/">
			<p class="inner"><button class="nav" id="home" type="home">Home</button></p>
		</form>
		<form action="/about">
			<p class="inner"><button class="nav" id="about" type="about">About this project</button></p>
		</form>
		<form action="/examples">
			<p class="inner"></p><button class="nav" id="examples" type="examples">Example Stories</button></p>
		</form>
	</div>
	<h2>{{story}}<h2>
</body>
</html>